<div class="Titel" class="container" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center">
    <div class="container">
        <h1>Classes</h1>
        <input type="text" class="form-control" id="ClassName" placeholder="Class" #name>
        <p></p>
        <button class="btn btn-dark Button" (click)="findClassList(name.value)">Search Classes by Name</button>
    </div>
    <div>
        <img src="../../assets/logo.png" alt="D&D Logo"/>
    </div>
</div>

<div class="Titel" class="container table" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center">
    <div class=" containerEquipment" fxFlex="3%">Id:</div>
    <div class=" containerEquipment" fxFlex="33%">Name:</div>
    <div class=" containerEquipment" fxFlex="30%">Hits to Die:</div>
    <div class="containerEquipment" fxFlex="33%">Add to new character</div>
</div>

<div class="Titel" class="container" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center"
    *ngFor="let class of (classList | async)">
    <div class="containerList" fxFlex="3%">{{class.index}}</div>
    <div class="containerList" fxFlex="33%">{{class.name}}</div>
    <div class="containerList" fxFlex="30%">{{class.hit_die}}</div>
    <div class="containerList" fxFlex="33%"><button class=" btn btn-primary Button" (click)="Add(class.index)">Add</button></div>
</div>