<form (ngSubmit)="onSubmit()" class="example-form">

  <mat-card-content>
    <mat-form-field>
      <input [(ngModel)]="model.username" name="gebruikersNaam" matInput
             placeholder="Gebruikersnaam">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="model.password" name="wachtWoord" matInput placeholder="Wachtwoord"
             type="password">
    </mat-form-field>

  </mat-card-content>

  <button mat-raised-button color="primary" type="submit">Log in</button>

</form>
