<div class="titel" class="container topcontainer" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center">
    <div class="container">
        <h1>Equipment</h1>
        <input type="text" class="form-control" id="EquipmentName" placeholder="Equipment" #name>
        <p></p>
        <button class="btn btn-dark Button" (click)="findEquipmentList(name.value)">Search Equipment by Name</button>
        <button class="btn btn-dark Button" (click)="findEquipmentListCat(name.value)">Search Equipment by
            Category</button>
    </div>
  <div>
    <img src="../../assets/logo.png" alt="D&D Logo" />
  </div>
</div>

<div class="Titel" class="container" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center">

    <div class=" containerEquipment" fxFlex="23%">Name:</div>
    <div class=" containerEquipment" fxFlex="23%">Category:</div>
    <div class="containerEquipment" fxFlex="23%"> Weight:</div>
    <div class="containerEquipment" fxFlex="26%">Add to new character</div>
</div>

<div class="Titel" class="container" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center"
    *ngFor="let equipment of (equipmentList | async)">
    <div class="containerList" fxFlex="23%">{{equipment.name}}</div>
    <div class="containerList" fxFlex="23%">{{equipment.equipment_category}}</div>
    <div class="containerList" fxFlex="23%">{{equipment.weight}}</div>
    <div class="containerList" fxFlex="26%">
      <a *ngIf="!added" class=" btn btn-secondary Button"(click)="Add(equipment.index, equipment.name)">Equip</a>
      <a *ngIf="added" class=" btn btn-secondary Button"(click)="Change()">Change</a>
    </div>
</div>
